body {
    display: flex;
    justify-content: center !important; /* Centrado en el eje X */
    align-items: center !important; /* Centrado en el eje Y */
    height: 100vh !important; /* Asegura que el body ocupe el 100% de la altura de la ventana */
    margin: 0; /* Elimina márgenes predeterminados */
    background-color: #f8f9fa; /* Fondo opcional */
  }
  

.search-container {
    width: 100% !important;
    max-width: 600px; /* Ancho máximo para el contenedor */
    padding: 40px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para un toque elegante */
    border-radius: 8px; /* Bordes redondeados */
  }